.new-form {
    width: 300px;
    margin: auto;
    background: cornflowerblue;
    padding: 16px;
    width: 260px;
}

.bookings {
  display: flex;
  justify-content: space-around;
}

.owned-booking {
  background: lightblue;
  height: fit-content;
}

.wanted-booking {
  background: lightblue;
  height: fit-content;
}
