<div class="col offset-3">
  <h1 class="text center mt-3" >welcome to your Dashboard <%= current_user.first_name%></h1>
</div>
<div class="main-container">
  <h3>Your cars <small>(click to update)</small></h3>
  <div class="cars">
    <% @cars.each do |car| %>
      <%= render "cars/car_dashboard_card", car: car %>
    <% end %>
  </div>
  <div class="new-form">
    <%= render 'cars/car_form', car: @car %>
  </div>
  <%= link_to "back to list", cars_path, class: "btn btn-warning" %>
</div>
