<div class="banner">
  <div class="banner-text">Le temps d'un week-end, faites-vous plaisir en louant quelquechose que vous ne pourriez jamais acheter!</div>
  <div class="banner-navigation">
    <div class="banner-search"></div>
    <%= link_to "Discover", cars_path, class: "banner-index-button btn btn-warning"  %>
  </div>
</div>
<div class="main-container">
  <div class="info-cards">
    <div class="info-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eligendi officiis, sit perferendis, quo hic adipisci voluptate fugit unde doloremque. Praesentium ut mollitia delectus laboriosam dolorem quod, illo omnis sunt.</div>
    <div class="info-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eligendi officiis, sit perferendis, quo hic adipisci voluptate fugit unde doloremque. Praesentium ut mollitia delectus laboriosam dolorem quod, illo omnis sunt.</div>
    <div class="info-card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eligendi officiis, sit perferendis, quo hic adipisci voluptate fugit unde doloremque. Praesentium ut mollitia delectus laboriosam dolorem quod, illo omnis sunt.</div>
  </div>
</div>

