<div class="banner">
<%= link_to "INDEX", cars_path, class: "btn btn-warning  text-align-center"  %>
</div>
<div class="main-container">
  <div class="info-cards">
    <div class="info-card"></div>
    <div class="info-card"></div>
    <div class="info-card"></div>
  </div>
</div>

