
.navbar-ra {
  height: 80px;
  background: #a9a9a93b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
}

.navbar-logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
  margin-bottom: 0;
  font-weight: bold;
  }
}

.navbar-title {
  font-weight: bold;
  margin: auto;
}
.navbar-sign-up {
  color: black;
  border-bottom: solid 1px grey;
  border-radius: 4px;
  height: fit-content;
  padding: 4px 8px;
  font-weight: bold;

  &:hover {
    color: grey;
    text-decoration: none;
  }
}


